* {
    box-sizing: border-box;
    flex-direction: column;
}

body {
    display: flex;
    justify-items: flex-start;
    flex-direction: column;
    width: 100%;
    width: 700px;
    padding: 30px;
    height: 800px;
    background-image: url("End_Poem_background.png");
    background-position: center;
    background-size: center;
    animation: fundoInfinito 30s infinite ease-out;
}

@keyframes fundoInfinito {
    0% {
        background-position-y: 30%;
    }

    50% {
        background-position-y: 50%;
    }

    100% {
        background-position-y: 100%;
    }

}

#sumir {
    display: none;
}

section {
    padding-left: 40px;
}

#butao {
    height: 30px;
    width: 90px;
    font-size: 12px;
    padding: 3px 4px;
    background-image: url(butao.png);
    font-family: "monocraft";
    color: #fff;
    border-color: #AAA #565656 #565656 #AAA;
    text-shadow: 3px 3px #4C4C4C;
}

#butao:hover {
    background-image: url(butaoclicado.png);
    border-color: #BDC6FF #59639A #59639A #BDC6FF;

}

header {
    top: 0;
    width: 500px;
    padding-left: 40px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

#verde {
    font-size: 15px;
    color: #00AA00;
}
#azul{
    color: #00AAAA;
}
h1{
    color: #00AA00;
}
strong {
    display: inline-block;
    transform: rotate(-40deg) translateY(-3px);
    font-size: 1.5px;
}

hr {
    width: 100%;
    margin: 10px 0;
}

img {
    width: 30px;
}

footer {
    transform: translatey(-15px);
    display: flex;
}

#centraliza {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}